:host {
  font-weight: 600;
}

.board-container {
  display: flex;
  position: absolute;
}

.board-container:after {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: var(--background-image);
  z-index: -1;
}

.overlay {
  position: relative;
}

.overlay:after {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  padding: 40px 50px;

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

.header-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.header-link:hover {
  text-decoration: underline;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-icon {
  margin-left: 10px;
  color: white;
  width: 30px;
  height: 30px;
}

.btn {
  cursor: pointer;
}

.delete-btn {
  color: white;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  border: 2px solid #ba0000;
  background-color: rgba(255, 255, 255, 0);
}

.delete-btn:hover {
  background-color: #ba0000;
}

.board {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 15px;
  padding: 150px 50px 0 50px;
}

.list {
  text-align: center;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.list:hover {
  background-color: rgba(179, 175, 175, 0.55);
}

.add-list-button {
  outline: none;
  border: none;
}

.add-list-button:hover {
  background-color: rgba(179, 175, 175, 0.55);
}
