@if (isModalOpen) {
  <div class="overlay"></div>
}
<div class="header">
  <a class="btn header-link" href="/">< Home</a>
  <div class="header-title">
    @if (!isEditing) {
      <h1>{{ board.title }}</h1>
      <img class="btn title-icon" src="edit-icon.svg" alt="edit icon" (click)="isEditing=true">
    } @else {
      <tr-title-input
        [class]="'board-title-input'"
        [id]="'title'"
        [required]="true"
        [minlength]="2"
        [maxlength]="25"
        [pattern]="'^(?!\\s*$)[0-9a-zA-Zа-яА-ЯіІїЇєЄ.,\\-_\'! ]+$'"
        [(value)]="currentTitle"
        [name]="'title'"
        (valueChange)="updateBoard()"
      ></tr-title-input>
    }
  </div>
  <button class="btn delete-btn" (click)="removeBoard()">Delete board</button>
</div>

<div class="board">
  @for (list of board.lists; track list.id) {
    <tr-list class="list"
      [listId]="list.id"
      [title]="list.title"
      [cards]="list.cards"
      (listRemoved)="updateBoard()"></tr-list>
  }
  <button class="btn add-list-button list" (click)="openModal()"><p>+ Додати список</p></button>
</div>

@if (isModalOpen) {
  <tr-input-form
    [entityType]="'list'"
    (close)="closeModal()"
    (inputData)="createList($event)"></tr-input-form>
}

