:host {
  font-weight: 600;
  //background-image: url(/assets/images/series-2-pika-wallpaper-2.png);
}

.overlay {
  position: relative;
}

.overlay:after {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;

  color: white;
}

.header-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.header-link:hover {
  text-decoration: underline;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.title-icon {
  margin-left: 10px;
  color: white;
  width: 30px;
  height: 30px;
}

.btn {
  cursor: pointer;
}

.delete-btn {
  color: white;
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  border: 2px solid #ba0000;
  background-color: rgba(255, 255, 255, 0);
}

.delete-btn:hover {
  background-color: #ba0000;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.list{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

tr-list:hover {
  background-color: rgba(179, 175, 175, 0.55);
}

.add-list-button {
  outline: none;
  border: none;
}

.add-list-button:hover {
  background-color: rgba(179, 175, 175, 0.55);
}

